<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="google-site-verification" content="7lObjXRxJswTfHWqCyYCGk7mJGmRTKX_XLwOjB4jJjQ" />
    <title>{% block title %}Wiki{% endblock %}</title>
    <meta name="description" content="Terms Generator provides detailed explanations and related terms using OpenAI's GPT-3.5 model.">
    <meta name="keywords" content="Terms Generator, OpenAI, GPT-3.5, Term Explanations, Related Terms, Educational Resource">
    <meta name="author" content="Your Name">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://terms-a2d0dcfc4f4a.herokuapp.com/">
    <meta property="og:image" content="https://terms-a2d0dcfc4f4a.herokuapp.com/static/logo.png">
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://terms-a2d0dcfc4f4a.herokuapp.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://terms-a2d0dcfc4f4a.herokuapp.com/search?search_term={search_term}",
            "query-input": "required name=search_term"
        }
    }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">Wiki</a>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_term">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
