<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="7lObjXRxJswTfHWqCyYCGk7mJGmRTKX_XLwOjB4jJjQ" />

    <title>Search</title>
</head>
<body>
    <h1>Search for a Term</h1>
    <form action="{{ url_for('search') }}" method="post">
        <label for="search_term">Term:</label>
        <input type="text" id="search_term" name="search_term" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
