{% extends 'base.html' %}

{% block title %}Term: {{ term }}{% endblock %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h1 class="card-title">{{ term }}</h1>
        <p class="card-text">{{ explanation|safe }}</p>
    </div>
</div>
<div class="mt-4">
    <h2>Related Terms:</h2>
    <ul class="list-group">
        {% for related_term in related_terms %}
        <li class="list-group-item"><a href="{{ url_for('term_page', term=related_term) }}">{{ related_term }}</a></li>
        {% endfor %}
    </ul>
</div>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ term }}",
    "description": "{{ explanation|safe|striptags|truncate(150) }}",
    "url": "https://terms-a2d0dcfc4f4a.herokuapp.com/term/{{ term }}",
    "author": {
        "@type": "Person",
        "name": "Your Name"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Terms Generator",
        "logo": {
            "@type": "ImageObject",
            "url": "https://terms-a2d0dcfc4f4a.herokuapp.com/static/images/logo.png"
        }
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://terms-a2d0dcfc4f4a.herokuapp.com/term/{{ term }}"
    }
}
</script>
{% endblock %}
